.first-main{
    text-align: center;
}

.footer{
    background-color: black;
}

/* unvisited link */
a:link {
    color: yellow;
  }
  
  /* visited link */
  a:visited {
    color: white;
  }
  
  /* mouse over link */
  a:hover {
    color: rgb(249, 250, 184);
  }
  
.Black{
    color: black;
}

.yellow{
    color: yellow;
}

.col{
    text-align: justify;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }

.fa:hover {
    opacity: 0.7;
    background-color: yellow;
    color: black;
  }
  
  .col2{
    text-align: right;
  }






