.first-main{
    text-align: center;
}

.footer{
    background-color: black;
}

/* unvisited link */
a:link {
    color: yellow;
  }
  
  /* visited link */
  a:visited {
    color: white;
  }
  
  /* mouse over link */
  a:hover {
    color: rgb(249, 250, 184);
  }
  
.Black{
    color: black;
}

.yellow{
    color: yellow;
}












